In [67]:
#!pip install pandas 
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

In [54]:
import pandas as pd

In [55]:
#load csv file into bikes variable
bikes = pd.read_csv("london_merged.csv")

In [56]:
bikes.info() #explore the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [57]:
bikes.shape #rows and columns

(17414, 10)

In [58]:
bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [59]:
# specifying the column names that I want to use
new_cols_dict = { 
    "timestamp" : 'time', #1
    'cnt' : 'count', #2
    't1' : 'temp_real_C', #3
    't2' : 'temp_feels_like_C', #4
    'wind_speed' : 'wind_speed_kph', #5
    'weather_code' : 'weather', #6
    'is_holiday' : 'is_holiday', #7
    'is_weekend' : 'is_weekend', #8
    'season' : 'season', #9
    'hum' : 'humidity_percent'
}

In [60]:
# renaming the columns tto the specified column names
bikes.rename(new_cols_dict, axis=1, inplace=True)

In [61]:
bikes.humidity_percent = bikes.humidity_percent / 100

In [62]:
# converting a  season integers values to actual written values 
season_dict = {
    '0.0' : 'spring',
    '1.0' : 'summer',
    '2.0' : 'autumn',
    '3.0' : 'winter'}
#creating a weather dictionary so that we can map the integers to the actual written values
weather_dict = {
    '1.0':'clear',
    '2.0':'Scattered Clouds',
    '3.0' : 'Broken clouds',
    '4.0' : 'Cloudy',
    '7.0' : 'Rain',
    '10.0' : "Rain with thunderstorm",
    '26.0' : 'Snowfall'
}

In [63]:
#changing type of column into string
bikes.season = bikes.season.astype('str')
#maping from int to string values
bikes.season = bikes.season.map(season_dict)

#changing type of column into string
bikes.weather = bikes.weather.astype('str')
#maping from int to string values
bikes.weather = bikes.weather.map(weather_dict)

In [65]:
bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,clear,0.0,1.0,winter

In [68]:
bikes.to_excel('london_bikes_final.xlsx',sheet_name="Data")